In [18]:
from config import config
import pandas as pd
from sklearn.model_selection import train_test_split

In [11]:
data = pd.read_csv('/Users/matthewgalloway/Repos/bank_marketing_deployed/bank_marketing_deployed/datasets/bank-full.csv',sep=";")

train, test =  train_test_split(data, test_size = 0.2)

train.to_csv('/Users/matthewgalloway/Repos/bank_marketing_deployed/bank_marketing_deployed/datasets/train.csv')
test.to_csv('/Users/matthewgalloway/Repos/bank_marketing_deployed/bank_marketing_deployed/datasets/test.csv')

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36168 entries, 7370 to 13183
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        36168 non-null  int64
 1   job        36168 non-null  object
 2   marital    36168 non-null  object
 3   education  36168 non-null  object
 4   default    36168 non-null  object
 5   balance    36168 non-null  int64
 6   housing    36168 non-null  object
 7   loan       36168 non-null  object
 8   contact    36168 non-null  object
 9   day        36168 non-null  int64
 10  month      36168 non-null  object
 11  duration   36168 non-null  int64
 12  campaign   36168 non-null  int64
 13  pdays      36168 non-null  int64
 14  previous   36168 non-null  int64
 15  poutcome   36168 non-null  object
 16  y          36168 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.0+ MB

In [15]:
train.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [19]:
for col in config.NUMERICALS__VARS:
    train[col] = (train[col] - min(train[col]))/max(train[col])

<ipython-input-19-013721dcb5b4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[col] = (train[col] - min(train[col]))/max(train[col])

In [20]:
train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
7370,0.210526,blue-collar,married,primary,no,0.083396,yes,no,unknown,0.903226,may,0.021757,0.015873,0.0,0.0,unknown,no
19853,0.210526,management,married,tertiary,no,0.081732,no,no,cellular,0.225806,aug,0.046767,0.015873,0.0,0.0,unknown,no
11664,0.357895,blue-collar,married,secondary,no,0.133491,yes,no,unknown,0.612903,jun,0.035990,0.031746,0.0,0.0,unknown,no
20117,0.252632,management,married,tertiary,no,0.085247,no,no,cellular,0.322581,aug,0.135624,0.015873,0.0,0.0,unknown,no
8746,0.200000,services,married,secondary,no,0.086157,yes,no,unknown,0.096774,jun,0.025417,0.063492,0.0,0.0,unknown,no