In [10]:

import pandas as pd
from sklearn.model_selection import train_test_split

In [33]:
filename = '/Users/matthewgalloway/Repos/bank_marketing_deployed/bank_marketing_deployed/package/prediction_model/prediction_model/datasets/train.csv'
data = pd.read_csv(filename,sep=",")

train, test =  train_test_split(data, test_size = 0.2)

# train.to_csv('/Users/matthewgalloway/Repos/bank_marketing_deployed/bank_marketing_deployed/datasets/train.csv')
# test.to_csv('/Users/matthewgalloway/Repos/bank_marketing_deployed/bank_marketing_deployed/datasets/test.csv')

In [18]:
# categorical variables
CATEGORICAL_VARS = [
	"job",
	"marital",
	"education",
	"default",
	"housing",
	"loan",
	"contact",
	"month",
	"poutcome",
]
pd.get_dummies(train, columns=CATEGORICAL_VARS)

,Unnamed: 0,age,balance,day,duration,campaign,pdays,previous,y,job_admin.,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
19177,37323,47,623,13,102,6,-1,0,no,0,...,0,0,1,0,0,0,0,0,0,1
15148,35883,52,337,8,247,1,261,4,no,0,...,0,0,1,0,0,0,1,0,0,0
7429,12678,33,4385,4,92,1,-1,0,no,0,...,0,0,0,0,0,0,0,0,0,1
12370,26916,52,4173,21,159,2,-1,0,no,0,...,0,0,0,1,0,0,0,0,0,1
20994,36750,39,0,12,561,4,369,3,no,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22331,27342,33,4402,21,380,2,-1,0,no,0,...,0,0,0,1,0,0,0,0,0,1
4361,4599,30,18,20,121,11,-1,0,no,0,...,0,0,1,0,0,0,0,0,0,1
28137,19910,31,88,8,189,2,-1,0,no,1,...,0,0,0,0,0,0,0,0,0,1
23835,5831,32,-376,26,188,1,-1,0,no,0,...,0,0,1,0,0,0,0,0,0,1
4889,41427,60,5267,4,520,1,-1,0,yes,0,...,0,0,0,0,0,1,0,0,0,1

In [23]:

train['y'].eq('yes').mul(1)

19177    0
15148    0
7429     0
12370    0
20994    0
        ..
22331    0
4361     0
28137    0
23835    0
4889     1
Name: y, Length: 28934, dtype: int64

In [34]:
FEATURES = ['age',
			'job',
			'marital',
			'education',
			'default',
			'balance',
			'housing',
			'loan',
			'contact',
			'day',
			'month',
			'duration',
			'campaign',
			'pdays',
			'previous',
			'poutcome']
len(pd.dummydata[FEATURES].columns)

16